<%= form_tag :sql_execute do %>

  <h3>Execute SQL</h3>

  <div class='row'>
    <% if @query && @query.is_error? %>
      <div class="large-11">
        <div class='alert-box alert'>
          <%= @query.error.message %>
        </div>
      </div>
    <% end %>

    <div class="large-11">
      <textarea name='sql' id="sql" cols="120" rows="60"><%= @sql %></textarea>
    </div>
  </div>

  <div class="row">
    <div class="large-11">
      <div class='panel'>
        <%= submit_tag 'Execute', class: 'button small' %>
        &nbsp;
        <%= link_to 'Reset', :sql, data: {confirm: "Are you sure?"}, confirm: "Are you sure?" %>
      </div>
    </div>
  </div>

<% end %>

<% if @query && @query.count %>
  <div class='row'>
    <div class="large-11">
      <h4>Results</h4>
      <p><span class="radius success label">Total: <%= pluralize @query.count, 'record' %></span></p>
      <hr>
      <pre>
        <% @query.explain.rows.each do |row| %>
          <%= row.join(' ') %>
        <% end %>
      </pre>
      <div class='scrollable'>
        <table>
          <thead>
            <tr>
              <% @query.columns.each do |column| %>
                <th><%= titleize_column(column) %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @query.rows.each do |row| %>
              <tr>
                <% row.each do |item| %>
                  <td class='query_result'><%= item %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <% if @query.count > 10 %>
            <tfoot>
              <tr>
                <% @query.columns.each do |column| %>
                  <th><%= column.name %></th>
                <% end %>
              </tr>
            </tfoot>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  var editor = CodeMirror.fromTextArea($('#sql').get(0), {
      "theme": 'pastel-on-dark',
      "lineNumbers": true,
      "mode": "text/x-sql",
      "tabSize": 4,
      height: 'auto',
      extraKeys: {
        'Ctrl-Enter': function() {
          $(editor.getInputField()).parents('form').submit();
        }
      }
    });
  editor.setSize('100%', '400');
</script>