<div class="row">
  <div class="large-3 columns">
    <h1><%= link_to image_tag('rails_db/logo_mini.png'), rails_db.root_path %></h1>
  </div>
  <div class="large-9 columns">
    <ul class="inline-list left main_nav">
      <li>
        <%= link_to rails_db.root_path do %>
          <%= fa_icon 'list-ul' %>
          Dashboard
        <% end %>
      </li>
      <li>|</li>
      <li>
        <%= link_to rails_db.sql_path do %>
          <%= fa_icon 'database' %>
          SQL Editor
        <% end %>
      </li>
      <li>|</li>
      <li>
        <%= link_to rails_db.sql_import_path do %>
          <%= fa_icon 'download' %>
          Import
        <% end %>
      </li>
      <li>|</li>
      <li>
        <%= link_to rails_db.data_table_path do %>
          <%= fa_icon 'table' %>
          Data Table
        <% end %>
      </li>
      <li>|</li>
      <li>
        <%= link_to rails_db.standalone_path do %>
          <%= fa_icon 'circle' %>
          Command Line
        <% end %>
      </li>
    </ul>
    <% if defined?  main_app.root_url %>
    <ul class="inline-list right main_nav">
      <li>
        <%= link_to main_app.root_url do %>
          <%= fa_icon 'home' %>
          Home
        <% end %>
      </li>
    </ul>
    <% end %>
    <div class='clear'></div>
  </div>
</div>

