<% if RailsDb.available_abstract_model_classes.many? %>
  Do you want to see tables from a specific model base class?
  <ul>
    <% RailsDb.available_abstract_model_classes.each do |klass| %>
      <li>
        <% if klass == RailsDb.abstract_model_class %>
          <strong>
            <%= klass.name %>
          </strong>
        <% else %>
          <%= link_to root_path(abstract_model_class: klass.name) do %>
            <%= klass.name %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Tables</h3>

<input id='rails_db_tables_input' placeholder='... quick filter by table name'>

<ul class="side-nav tables" id='rails_db_tables'>
  <% rails_db_tables.each do |table| %>
    <li>
      <%= link_to table_data_path(table), remote: true, class: "sidebar_table sidebar_table_#{table}" do %>
        <%= fa_icon 'table'%>
        <%= table %>
      <% end %>
    </li>
  <% end %>
</ul>