<% title "'#{@table.name}' Schema" %>

<h2>Table: <%= @table.name %></h2>

<hr/>

<dl class="sub-nav">
  <dd><%= render '/rails_db/shared/exp_col' %></dd>
  <dd><%= link_to raw("#{fa_icon('table')} Records"), table_data_path(@table), remote: true %></dd>
  <dd class="active"><%= link_to raw("#{fa_icon('tasks')} Schema"), table_path(@table), remote: true %></dd>
  <dd><%= select_top_from_table(@table.name) %></dd>
  <dd><%= link_to raw("#{fa_icon('file-excel-o')} Export"), table_csv_path(@table) %></dd>
</dl>

<table>
  <thead>
    <tr>
      <% @table.column_properties.each do |key| %>
        <th><%= key.titleize.upcase %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @table.columns.each do |col| %>
      <tr>
        <% @table.column_properties.each do |key| %>
          <td class="<%= key %>"><%= col.send(key) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>